[Unit]
Description=Miah Hermes Worker
After=network.target

[Service]
Type=simple
User=miah
WorkingDirectory=/home/miah/miah-worker
ExecStart=/usr/bin/node miah-worker.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
